.nav_item {
    display: inline-block;
    text-transform: uppercase;
}

.nav {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 75px;
}

.nav_link:hover {
    color: #03a9f4;
}

.nav_item:not(:last-child) {
    margin-right: 120px;
}

body {
    font-family: playfair display, sans-serif;
    max-width: 1200px;
    margin: 24px auto;
}

.wraper {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
}

.card {
    width: 420px;
    text-align: justify;
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
    vertical-align: top;
    font-size: 14px;
}

.card-subtitle {
    text-transform: uppercase;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: normal;
}

.button {
    background: transparent;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    padding: 1rem 2rem;
    height: 60px;
}

.nav_link {
    text-decoration: none;
    color: black;
}

.card-image {
    margin-bottom: 30px;
    width: 100%;
}

.card-title {
    margin-top: 0px;
    margin-bottom: 45px;
}

.card-description {
    margin-top: 0px;
    margin-bottom: 80px;
}

.card-description2 {
    margin-top: 0px;
    margin-bottom: 30px;
}