.card_item {
    text-transform: uppercase;
    list-style-type: none;
    text-align: left;
}

body {
    max-width: 1200px;
}

.card_link:hover {
    color: #f50909;
}

.card_link {
    text-decoration: none;
}

a::before {
    content: "\2192";
}