.container {
    display: flex;
    height: 200px;
    max-width: 960px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

.content {
    background-color: yellow;
    width: 80%;
    height: 100px;
}

.sidebar {
    background-color: green;
    width: 20%;
    height: 100px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        display: block;
    }

    .content {
        width: 50%;
    }

    .sidebar {
        width: 50%;
    }
}