@media (min-width: 768px) {

  .container {
    min-width: 768px;
  }

  .advert {
    min-height: 700px;
  }

  .link_menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 75px;
  }

  .main_nav {
    margin-bottom: 0;
  }

  .choice_title {
    margin-bottom: 30px;
  }

  .advert_title {
    max-width: 578px;
    margin: 0 auto;
    font-size: 50px;
    margin-bottom: 40px;
  }

  .advert_subtitle {
    font-size: 24px;
    margin-bottom: 34px;
  }

  .advert_button {
    padding: 12px 25px 12px 25px;
  }

  .partner_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 640px;
    margin: 0 auto;
  }

  .partner_button {
    padding: 12px 25px 12px 25px;
  }
}

@media (min-width: 1440px) {

  .container {
    min-width: 1440px;
  }

  .partner_list {
    max-width: 1280px;
  }
  
  .advert_subtitle {
    margin-bottom: 49px;
  }
}
