.container {
    height: 500px;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
    border: 10px;
}

.header {
    background-color: red;
    height: 200px;
    width: 100%;
    border: 5px;
}

.content {
    display: flex;

}

.sidebar {
    background-color: green;
    height: 300px;
    width: 40%;
    border: 5px;
}

.section {
    background-color: blue;
    height: 300px;
    width: 60%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    
}