.card_item {
    text-transform: uppercase;
    list-style-type: none;
    color: #0E1116;
    text-align: left;
}

.card_item:nth-child(3n) {
    background: #0D5D56;
}

.card_item:nth-child(3n+2) {
    background: #5DB7DE;
}

.card_item:nth-last-child(3n) {
    background: #88292F;
}

body {
    max-width: 1200px;
}

.card_item:hover {
    color: #f8f7fd;
}
