/*---------------font-family----------------------*/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2");
    src: url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2");
    src: url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
    src: url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
    src: url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

* {
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}
/*------------------WRAPPER-------------------------------*/
.wrapper {
    height: 50px;
    width: 940px;
}
/*--------------nav----------------------*/
.nav {
    display: flex;
    justify-content: space-between;
}
/*------------------------------logo------------------------*/
.logo {
    margin: 0;
    padding: 36px 0 36px 0;
    animation: logo-appear 1s linear;
}

@keyframes logo-appear {
    0% {
        transform: translateY(-200px);
    }

    25% {
        transform: translateY(0);
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}
/*--------------nav_list-----------------*/
.nav_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 485px;
}

.nav_link {
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color 200ms linear;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.nav_link::after {
    content: '';
    margin: 0  auto;
    display: block;
    width: 0;
    height: 2px;
    background-color: #fed136;
    transition: width 200ms linear;
}

.nav_link:hover {
    color: #fed136;
}

.nav_link:hover::after {
    width: 100%;
}
/*-----------------MAIN_WRAPPER---------------------*/

/*-------------section_one---------------------*/
.section_one {
    margin-top: 130px;
    width: 940px;
}
/*---------------subtitle-------------*/
.subtitle {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    text-align: center; 
    text-transform: uppercase;
    margin-bottom: 23px;
}

.one {
    color: black;
}

.two {
    color: white;
    padding-top: 110px;
}
/*---------------title----------------*/
.title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #adadad;
    text-align: center;  
    font-style: italic;
}
/*---------------section_one_container-------------*/
.section_one_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 270px;
    margin-bottom: 103px;
}
/*-------------subcontainer------------*/
.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 300px;
    margin-top: 80px;
}

.subcontainer:nth-child(3n) {
    margin-right: 0;
}
/*--------------subcontainer_icon-----------------*/

/*----------------subcontainer_subtitle--------------*/
.subcontainer_subtitle {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    color: black;
    font-size: 18px;
}   
/*-----------------subcontainer_text----------------*/
.subcontainer_text {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #adadad;
    text-align: center;
}
/*------------------section_two--------------------*/
.section_two {
    background-image: url("../img/map_image.png");
    height: 676px;
    background-size: cover;
    background-position: center;
}
/*---------------section_two_container----------------*/
.section_two_container {
    height: 385px;
    width: 940px;
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
}
/*-----------------name--------------------*/
.name, .mail, .subject, .message {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 459px;
    height: 54px;
    text-transform: uppercase;
    font-size: 18px;
    color: #adadad;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    padding-left: 20px;
    box-sizing: border-box;
}

.name:valid, .mail:valid, .message:valid {
    outline-color: green;
}

.name:invalid, .mail:invalid, .message:invalid {
    outline-color: red;
}
/*------------------------mail-----------------*/
.mail {
    top: 84px;
}
/*-----------------subject---------------------*/
.subject {
    top: 168px;
}
/*---------------message------------------------------*/
.message {
    border-radius: 5px;
    height: 222px;
    right: 0;
    padding-top: 20px;
}
/*---------------button-----------------------------*/
.button {
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    width: 240px;
    height: 66px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    position: absolute;
    font-size: 18px;
    text-align: center;
    top: 252px;
    left: 349px;
}