@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------width 320px--------------------------------------------------*/

/*--------------------------------ADVERT---------------------------------------------------------*/

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.background {
  background-image: url(../img/background.png);
  min-height: 542px;
  background-size: cover;
  background-color: #524e4e;
  background-position: center;
  margin-bottom: 68px;
}

.link_menu {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  padding-top: 15px;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}

.main_nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-items: center;
  margin-bottom: 115px;
  display: flex;
  justify-content: space-around;
}

.login,
.signup {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  border: 2px solid transparent;
  padding: 10px 15px;
}

.login:hover,
.signup:hover {
  border: 2px solid #ffffff;
  border-radius: 25px 25px 25px 25px;
}

.advert_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.advert_title {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.advert_subtitle {
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  padding: 0 30px 0 30px;
  margin-bottom: 30px;
}

.advert_button {
  background-color: #ff4e50;
  border: transparent;
  border-radius: 25px 25px 25px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  padding: 12px 45px 12px 45px;
  margin: 0 auto;
  cursor: pointer;
}

/*-----------------------------------------CHOICE PARTNER-----------------------------------------*/

.choice_title {
  font-size: 22px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.partner_card {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.partner_img {
  width: 123px;
  height: 122px;
  border-radius: 50%;
}

.icon {
  display: block;
  position: absolute;
  right: 29%;
  top: 45%;
  width: 33px;
  height: 33px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.partner_first {
  background-color: #ff4e50;
  background-image: url(../img/shape_first.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partner_second {
  background-color: #1cd7ad;
  background-image: url(../img/shape_second.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partner_third {
  background-color: #ffac1a;
  background-image: url(../img/shape_third.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partner_fourth {
  background-color: #4e73db;
  background-image: url(../img/shape_fourth.png);
  background-repeat: no-repeat;
  background-position: center;
}

.name {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.partner_info {
  color: #666666;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  font-size: 14px;
}

.partner_button {
  display: block;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  border-radius: 25px 25px 25px 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #ff4e50;
  padding: 12px 45px 12px 45px;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 767px) {
  
  .advert_button,
  .choice_button,
  .partner_card [class*="col-"] {
    margin-bottom: 30px;
  }
}
